<span ng-click="$ctrl.closeModal();" aria-label="close-policy-update" class="eforms-modal-close-icon icon-close-temp"></span>

<div class="eforms-modal-content">
	<h4 ng-bind="'eformsAcknowledgement.modalPopUpTitle' | translate"></h4>
	<div>
		<p>
			TriNet is committed to keeping your organization compliant with applicable federal, state, and local employment laws. 
			In addition, your organization is committed to being clear about its expectations for employees, sharing employee-facing policies 
			and procedures, and addressing compliance issues.
		<p>
			Accordingly, there is a new or updated policy or handbook for you to review.
		</p>
		<p>
			<a href ng-click="$ctrl.goToAcknowledgements();">Read and acknowledge policy</a>
		</p>
	</div>
</div>
