<div ng-if="$ctrl.error">{{$ctrl.errorMessage}}</div>
<div class="margin-top" ng-if="!$ctrl.error">
	<!-- Carrier Certificates and Summary of Benefits and Coverages Toggle -->
	<div id="carrierCertificates" ng-if="$ctrl.summaryPlanPdfData.type !== 'Ambrose'">
		<a href="" class="toggle-link" ng-click="$ctrl.carrierCertToggle.isOpen = !$ctrl.carrierCertToggle.isOpen;"
		   aria-selected="{{$ctrl.carrierCertToggle.isOpen}}" aria-controls="carrierCertificateControl"
		   aria-expanded="{{$ctrl.carrierCertToggle.isOpen}}" role="tab">
			<span>{{'my_benefits.planCarrier.carrierCertificate' | translate}}</span><i
				class="pull-right glyphicon"
				ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.carrierCertToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.carrierCertToggle.isOpen}"></i>
		</a>
		<div ng-show="$ctrl.carrierCertToggle.isOpen" id="carrierCertificateControl"
			 aria-labelledby="carrierCertificates" aria-hidden="{{!$ctrl.carrierCertToggle.isOpen}}"
			 role="tabpanel">
			<p class="normal-font">
				<span>
					{{ 'my_benefits.policies.cc_explanation' | translate}}
				</span>
			</p>
		</div>
		<div class="linedWithMargin"></div>
	</div>
	<!-- Medical Toggle -->
	<div id="medicalPopup" ng-if="$ctrl.medicalDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.medicalToggle.isOpen = !$ctrl.medicalToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'medical','cc')">
			<span class="text-capitalize">
						{{ 'my_benefits.policies.medical' | translate}}
			</span>
			<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.medicalToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.medicalToggle.isOpen}"></i>
		</a>
		<div ng-show="$ctrl.medicalToggle.isOpen" class="benefit-plan-description">
			<a ng-repeat="pane in $ctrl.medicalDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.medicalDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>
	<!-- Dental Toggle -->
	<div id="dentalPopup" ng-if="$ctrl.dentalDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.dentalToggle.isOpen = !$ctrl.dentalToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'dental','cc')">
				<span class="text-capitalize">
							{{ 'my_benefits.policies.dental' | translate}}
				</span>
				<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.dentalToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.dentalToggle.isOpen}"></i>
			</a>
		<div ng-show="$ctrl.dentalToggle.isOpen" class="benefit-plan-description">
			<a ng-repeat="pane in $ctrl.dentalDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.dentalDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>

	<!-- Vision Toggle -->
	<div id="visionPopup" ng-if="$ctrl.visionDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.visionToggle.isOpen = !$ctrl.visionToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'vision','cc')">
				<span class="text-capitalize">
							{{ 'my_benefits.policies.vision' | translate}}
				</span>
				<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.visionToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.visionToggle.isOpen}"></i>
			</a>
		<div ng-show="$ctrl.visionToggle.isOpen" class="benefit-plan-description">
			<a  ng-repeat="pane in $ctrl.visionDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.visionDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>

	<!-- Life Insurance Toggle -->
	<div id="lifePopup" ng-if="$ctrl.lifeDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.lifeToggle.isOpen = !$ctrl.lifeToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'life','cc')">
					<span class="text-capitalize">
								{{ 'my_benefits.policies.life' | translate}}
					</span>
					<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.lifeToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.lifeToggle.isOpen}"></i>
				</a>
		<div ng-show="$ctrl.lifeToggle.isOpen" class="benefit-plan-description">
			<a ng-repeat="pane in $ctrl.lifeDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.lifeDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>

	<!-- Disability Toggle -->
	<div id="disabilityPopup" ng-if="$ctrl.disabilityDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.disabilityToggle.isOpen = !$ctrl.disabilityToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'disability','cc')">
					<span class="text-capitalize">
								{{ 'my_benefits.policies.disability' | translate}}
					</span>
					<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.disabilityToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.disabilityToggle.isOpen}"></i>
				</a>
		<div ng-show="$ctrl.disabilityToggle.isOpen" class="benefit-plan-description">
			<a  ng-repeat="pane in $ctrl.disabilityDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.disabilityDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>

	<!-- FSA Toggle -->
	<div id="fsaPopup" ng-if="$ctrl.fsaDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.fsaToggle.isOpen = !$ctrl.fsaToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'flexibleSpendingAccounts','cc')">
						<span class="text-capitalize">
									{{ 'my_benefits.policies.fsa' | translate}}
						</span>
						<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.fsaToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.fsaToggle.isOpen}"></i>
					</a>
		<div ng-show="$ctrl.fsaToggle.isOpen" class="benefit-plan-description">
			<a ng-repeat="pane in $ctrl.fsaDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.fsaDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>

	<!-- Legal Toggle -->
	<div id="legalPopup" ng-if="$ctrl.legalDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.legalToggle.isOpen = !$ctrl.legalToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'legalServices','cc')">
							<span class="text-capitalize">
										{{ 'my_benefits.policies.legalServices' | translate}}
							</span>
							<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.legalToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.legalToggle.isOpen}"></i>
						</a>
		<div ng-show="$ctrl.legalToggle.isOpen" class="benefit-plan-description">
			<a ng-repeat="pane in $ctrl.legalDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.legalDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>

	<!-- Critical Illness Toggle -->
	<div id="criticalPopup" ng-if="$ctrl.criticalIllnessDataForModal.planData">
		<a href="" class="toggle-link" ng-click="$ctrl.criticalToggle.isOpen = !$ctrl.criticalToggle.isOpen;$ctrl.atenaPopUp($ctrl.index,'criticalIllness','cc')">
								<span class="text-capitalize">
											{{ 'my_benefits.policies.critical' | translate}}
								</span>
								<i class="pull-right glyphicon " ng-class="{'icon-icon_Disclosure_Collapse': $ctrl.criticalToggle.isOpen, 'icon-icon_Disclosure_Expand':!$ctrl.criticalToggle.isOpen}"></i>
							</a>
		<div ng-show="$ctrl.criticalToggle.isOpen" class="benefit-plan-description">
			<a ng-repeat="pane in $ctrl.criticalIllnessDataForModal.planData.sub track by $index" ng-click="$ctrl.openModal(pane,$ctrl.criticalIllnessDataForModal)">{{pane.header}}</a>
		</div>
		<div class="linedWithMargin"></div>
	</div>
</div>
