@import 'main';
tn-taxes-deductions-table {
	.tn-table-row-header-alt{
		border-bottom: 1px solid #C4C8D3;
		color: #ACB2BC;
		background: white !important;
		display: flex;

		.selectable-header:hover { cursor: pointer; }

		.selectable-header:hover, .selectable-header.selected {
			background: #F6F7F7;
			border-color: #F1F3F5;
		}
	}

	.alt-heading{
		display: flex;
		color: black !important;
		h6{
			width: calc(100% / 4) !important;
			font-weight: 700 !important;
		    white-space: nowrap !important;
	        font-size: 14px;
		}
	}

	div{
		.alt-row:nth-last-child(1){
			display: flex;
			color: black !important;
			
			background: white !important;
			border-top:1px solid #dfe1e2;
			h6, p{
				width: calc(100% / 4) !important;
				font-weight: 700 !important;
			    white-space: nowrap !important;
		        font-size: 14px;
		        padding-right: 0px;
			}
			.alt-row-data:nth-child(4){
				border-left: none !important;
				padding-left: 1vw;

			}
			.alt-row-data:nth-last-child(1){
				h6, p{
					text-align: right !important;
					width: 100% !important;
				    padding-left: 0px;
					padding-right: 15px;
				}
			}
		}	
		p{
			line-height: 1.1;
			font-weight: 500 !important;
		}		
	}

	.tn-table-row {
		display: flex;
		transition: transform .2s,
					background .2s,
					border .2s,
					box-shadow .2s;
	}

	.alt-row:nth-child(1){
		border-bottom: 1px solid #dfe1e2;
		color: #ACB2BC !important;
		background: white !important;
		width: 100%;
	}

	.tn-table-row-data {flex: 1;}
	/* .alt-row-data {min-width: 1vw;} */

	.alt-row-data:nth-child(4){
		padding-left: 1vw;
		h6, p{
			text-align: right !important;
			width: 80% !important;
		}

	}
	.alt-row-data:nth-last-child(1){
		h6, p{
			text-align: right;
			width: 80%;
			padding-left: 0px;
			padding-right: 15px;
		}
	}
	.tn-table-row-data:first-child{
		min-width: 15vw;
	}
}
@media screen\0{
	tn-taxes-deductions-table{
		.tn-table-row-data:first-child{
			min-width: auto;
		}
	}
}
