<tn-card>
	<h3 class="contact-card-title" ng-if="!$ctrl.status">{{'contact-employees-title' | translate }}</h3>
	<h3 class="contact-card-title" ng-if="$ctrl.status">{{ 'contact-colleagues-title' | translate }}</h3>
	<tn-card-content>
		<div class="contact-card-content employee-card-content">
			<span ng-if="!$ctrl.status">{{'contact-employee-card-verbiage' | translate}}</span>
			<span ng-if="$ctrl.status">{{'contact-colleagues-card-verbiage' | translate}}</span>
		</div>

		<div class="row  contact-card-table">
			<div class="col-sm-offset-1  col-sm-10  col-sm-offset-1">
				<div ng-if="$ctrl.showLiveChat" class="row  tn-profile-divider  tn-contact-content">
					<div class="col-sm-1  tn-align-contact-icon">
						<i class="icon-icon_chat tn-azure-blue tn-icon"></i>
					</div>

					<div class="col-sm-4 titles">
						<a  href="javascript://Chat" ng-click="$ctrl.createDynamicOnlickEvent($ctrl.liveChatCode)"><p class="contact-label tn-azure-blue">{{'chat' | translate}}</p></a>
					</div>

					<div class="col-sm-7  tn-right-align-grid-text">
						<p>
                           {{'chatAvailabilityPeriod' | translate}}
						</p>
					</div>
				</div>
				<div class="row  tn-profile-divider  tn-contact-content" ng-if="!$ctrl.status">
					<div class="col-sm-1  tn-align-contact-icon">
						<i class="icon-icon_phone  tn-icon"></i>
					</div>

					<div class="col-sm-4  titles">
						<p class="contact-label">{{'phone' | translate}}</p>
					</div>

					<div class="col-sm-7  tn-right-align-grid-text">
						<p>{{$ctrl.data.phone | tel}}</p>
					</div>
				</div>

				<div class="row  tn-profile-divider  tn-contact-content">
					<div class="col-sm-1  tn-align-contact-icon">
						<i class="icon-icon_email tn-icon"></i>
					</div>

					<div class="col-sm-4  titles">
						<p class="contact-label">{{'email' | translate}}</p>
					</div>

					<div class="col-sm-7  tn-right-align-grid-text">
						<p>
							<a class="tn-anchor" href="mailto:{{$ctrl.data.email}}">{{$ctrl.data.email}}</a>
						</p>
					</div>
				</div>

				<div class="row  tn-contact-content">
					<div class="col-sm-1  tn-align-contact-icon">
						<i class="icon-icon_time  tn-icon"></i>
					</div>

					<div class="col-sm-4  titles">
						<p class="contact-label">{{'hours-of-operation' | translate}}</p>
					</div>

					<div class="col-sm-7  tn-right-align-grid-text">
						<p>{{$ctrl.data.hoursOfOperation.availDays}}</p>
						<p>{{$ctrl.data.hoursOfOperation.fromTime}}&nbsp;-&nbsp;{{$ctrl.data.hoursOfOperation.toTime}}&nbsp;{{$ctrl.data.hoursOfOperation.timeZone}}</p>
					</div>
				</div>
			</div>
		</div>
	</tn-card-content>
</tn-card>
