@import 'main';

.leave-details {
	margin-bottom: 35px;
}

.details-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.employee-icon-details { text-align: center; }

.employee-name { font-weight: bold; }

.leave-details-date {
	font-weight: 500;
	color: $trinet-gray-l69;
	text-align: center;
	margin: 0 0 40px;
	padding-top: 0px;
}

.arrow-pickers {
	cursor: pointer;
	margin: auto 0;
	font-size:   26px;
}

.disabled {	color: $trinet-gray-l69; }
