.preferences-card{
    margin-top: 10px  !important;
    line-height: 1.1;
}
.preferences-card-desc{
    font-size: 12px;
    margin-top: 10px  !important;
    font-weight: 500;
    line-height: 1.1;
}