@import 'main';

.tn-benefits-users {
	display: flex;
	margin-top: 28px;
}

.tn-benefits-users-container {
	margin-left: 16px;
}

.tn-benefits-users-user {
	margin-bottom: 16px;
}

.tn-benefits-users-user-relationship {
    color: $slate;
}
