<div class="background announcement-card">
	<div class="primary-container">
		<div class="tn-search-header-bar">
			<h2>
				<i class="icon-icon_back icon-heading"></i>
				<button ui-sref="app.main.dashboard" class="no-border-button">
					Dashboard
				</button>
			</h2>
		</div>
		<div class="announcement">
			<div class="announcement-body">
				<tn-card ng-repeat="item in $ctrl.notices.current  | orderBy : ['priority','-effectiveDate']">
					<h3 class="heading-text">{{item.title}}</h3>
					<div class="help-text no-marg-top">
						<span ng-repeat="(key,value) in $ctrl.prorityType" ng-if="$ctrl.getPriority(key,item)">{{value}} Priority</span>
					</div>

					<div class="content-section">
						<p ng-bind-html="$ctrl.getBodyParseValue(item.body)">
						</p>
					</div>
				</tn-card>
				<h4 class="text-center bold" >History</h4>
        <hr class="gray-divder">
				<tn-card ng-repeat="item in $ctrl.notices.history  | orderBy : ['priority','-effectiveDate']">
					<h3 class="heading-text">{{item.title}}</h3>
					<div class="help-text no-marg-top">
						<span ng-repeat="(key,value) in $ctrl.prorityType" ng-if="$ctrl.getPriority(key,item)">{{value}} Priority</span>
					</div>

					<div class="content-section">
						<p ng-bind-html="$ctrl.getBodyParseValue(item.body)">
						</p>
					</div>
				</tn-card>

			</div>
		</div>
	</div>
	<div class="secondary-container"></div>
</div>
