.benefitoptions-heading, .plan-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sponserInfo, .plan-period{
    font-size: 18px;
    line-height: 1.1;
}
