<div class="row contact-row">
	<tn-select class="col-sm-5"
			   label="{{'edit-profile-email-type' | translate}}"
			   placeholder="Select an Email Type"
			   form-name="$ctrl.formName"
			   field-name="emailType"
			   component-id="$ctrl.emailId"
			   field-value="$ctrl.selected.accessType"
			   items="$ctrl.data.dropdown.accessTypes"
			   is-required="true"
			   is-focus="$ctrl.isFocus"
			   on-update="$ctrl.update($ctrl.keys.emailType, data.key)">
	</tn-select>
	<tn-email-input class="col-sm-5 col-sm-offset-2"
				    label="{{'edit-profile-email-address' | translate}}"
				    form-name="$ctrl.formName"
					component-id="$ctrl.emailId"
				    field-name="emailAddress"
				    field-value="$ctrl.email.url"
				    is-required="true"
				    on-update="$ctrl.update($ctrl.keys.emailAddress, data)">
	</tn-email-input>
	<button type="button" class="icon-close-temp contact-delete-icon hand" aria-label="delete-email-address" id="emailDelete_{{$ctrl.emailId}}" ng-click="$ctrl.delete()" ng-if="!$ctrl.isFirst"></button>
</div>
