<tn-card class="add-account-secondary-container">
	<tn-card-content>
		<h5 class="add-account-secondary-container-title">Finding your </h5>
		<h5 class="add-account-secondary-container-sub-title">Routing and Account numbers</h5>
		<div class="add-account-secondary-container-image-container">
			<img alt="Routing check with routing number and account number"
				src="assets/images/Routing-check-with-routing-number-and-account-number.png" class="add-account-secondary-container-image">
			<h6 class="add-account-secondary-container-icons">
			<i class="tn-icon icon-icon_circle add-account-secondary-container-icon-circle"></i>
			<i class=" icon-icon_Zoom add-account-secondary-container-icon-zoom"></i>
			</h6>
		</div>
	</tn-card-content>
</tn-card>

