@import 'main';

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.next_previous{
		flex: 3;
		color: $blue;
		font-weight: 600;
		i{
			font-size: 11px;
		}
	}
	.year{
		flex: 3;
		text-align: center;
	}
	.text-align{
		text-align: right;
	}
	.back{
		display:   inline-block;
		transform: scaleX(-0.6); /* standard */
		filter:    FlipH; /* IE 6/7/8 */
	}
	span:nth-child(2){
		color: $leave-status-other-font-color;
		font-size: 20px;
	}
}
