@import 'main';

.eforms-acknowledgement {

}

.browser-message{
  color: red;
}

.eform-card-padding {
  padding-left:10px !important;
}

.eforms-directive{
  margin-left:14px;
}

.policy-container {
  border-color: #DDE1E6;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 30px;
  width: 620px;
}

.policy-item {
  margin-bottom:-15px;
  margin-left: -17px;
  border:none !important;
}

.policy-listing {
  margin-top: -22px;
  margin-left: -20px;
  a {
	color:#30343C;
  }
}

.policy-link{
  margin-top: -7px;
  color:#2D88C2;
}


.status-header{
  padding-left:0px !important;
}

.status {
  margin-bottom:auto;
  margin-left:18px
}

.status-complete{
  color:#319256;
  margin-top: 24px;
}

.status-incomplete {
  color:#97A3B8;
  margin-top: 14px;
}

.confirmation-message {
  font-weight: 100;
  font-size: 13px;
  margin: 10px;
}

.i-agree {
  margin: auto;
  width: 27%;
}

.i-agree-button {
  height: 35px;
  width: 150px;
}

.form-embed {
  border: solid 1px #D2D2D3;
  background-color:#D2D2D3;
  width:570px;
  height:400px;
}

.eform-pdf{
  margin-top: 35px;
}

.open-in-new-window {
  font-weight: 100;
  font-size:13px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .policy-container {
    border-color: #DDE1E6;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 30px;
    width: 580px;
  }

  .status-incomplete {
    color:#97A3B8;
    margin-top: 14px;
    margin-left: 80px;
  }

  .form-embed {
    border: solid 1px #D2D2D3;
    background-color:#D2D2D3;
    width:520px;
    height:400px;
  }
}
