<form class="row" name="securityQuestionForm" novalidate id="secQueAns">
<div class="security-modal">
	<div class="security-modal-header">
		<i id="secretQnClose" class="icon-close-temp hand" ng-click="$ctrl.onCancel();"></i>
	</div>
	<br>
	<div class="padding-vertical">
		<div class="semibold">{{'secret-question-modal-security-question-label' | translate}}</div>
		<tn-input-container>
			<div class="select-style">
				<select id="secretQnList" ng-options="question as question.question for question in $ctrl.securityQuestions |unique: 'question'"
						ng-model="$ctrl.data.payload.question"
						name="question">
					<option value="" disabled selected>{{'secret-question-modal-select-question-label' | translate}}</option>
					<!--<option ng-repeat='question in $ctrl.securityQuestions' ng-model="$ctrl.data.payload.question" ng-value='question.question'>
						{{question.question}}
					</option>-->
				</select>
			</div>
		</tn-input-container>
	</div>

	<div class="padding-vertical" ng-if="$ctrl.data.payload.question.question == 'Your own question'">
		<div class="semibold">{{'secret-question-modal-new-question-label' | translate}}</div>
		<tn-input-container class="padding-vertical"
							ng-class="{'is-invalid': securityQuestionForm.customId.$invalid && securityQuestionForm.customId.$touched}">
			<input id="secretQnNewText" class="margin-top"
				   type="text"
				   name="question"
				   ng-model="$ctrl.data.payload.ownQuestion"
				   aria-label="Enter a new Security Question"
				   required>
			<div class="tn-input-error"
				 ng-messages="securityQuestionForm.question.$error"
				 ng-show="securityQuestionForm.question.$invalid && (securityQuestionForm.question.$touched || securityQuestionForm.question.$submitted)">
				<div ng-message="required" aria-live="polite">{{'required' | translate}}</div>
			</div>
		</tn-input-container>
	</div>
	<div class="padding-vertical">
		<div class="semibold">{{'secret-question-modal-new-answer-label' | translate}}</div>
		<tn-input-container class="padding-vertical"
							ng-class="{'is-invalid': securityQuestionForm.question.$invalid && securityQuestionForm.question.$touched  || securityQuestionForm.$submitted}">
			<input id="secretQnAnsText" class="margin-top"
				   type="text"
				   name="question"
				   aria-label="Enter a new answer"
				   ng-model="$ctrl.data.payload.answer"
				   required>
		</tn-input-container>
		<div class="tn-input-error"
			 ng-messages="securityQuestionForm.question.$error"
			 ng-show="securityQuestionForm.question.$invalid && (securityQuestionForm.question.$touched || securityQuestionForm.$submitted)">
			<div ng-message="required" aria-live="polite">{{'required' | translate}}</div>
		</div>
	</div>
	<br>
	<div class="security-modal-footer">
		<button id="secretQnCancelBtn" tn-button ng-click="$ctrl.onCancel()">{{'security-modal-cancel-label' | translate}}</button>
		<button id="secretQnSaveBtn" type="submit" class="margin-left" tn-action-button ng-click="$ctrl.onSave(securityQuestionForm)">{{'security-modal-save-label' | translate}}</button>
	</div>
</div>
	<tn-full-spinner  ng-show="$ctrl.showFullSpinner"></tn-full-spinner>
</form>
