@import '../../../../../styles/main';

.edit-acount{
	tn-edit-account-table{
		display: block;
		margin-bottom: 30px;
	}
	tn-card-footer{
		justify-content:flex-end;
		margin-top:30px;
		align-items:flex-end;
		h6{
			margin:0;
			color:$slate;
		}
		.button-group{
			margin:0;
		}
	}
	.w4-modal-effective-date-picker {
	  margin-bottom: 20px;
	}
  p[role="columnheader"] ,p[role="gridcell"]{
	margin: 10px 0;
	font-size: 12px;
	line-height: 1.1;
  }
}
.direct_deposit_confirm_modal{
  .w4-legal-modal-footer{
	margin-top: 20px;
	[tn-action-button]{
	  width: 220px;
	}
  }
}
