@import 'main';

.location-label {
	color: $slate !important;
	font-weight: 600 !important;
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1;
}

.location-value {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}