@import 'main';

.tn-benefit-best-doctors {
}

.tn-benefit-best-doctors-title {
	text-align: center;
}

.tn-benefit-best-doctors-actions {
	flex-direction: column;
}

.tn-benefit-best-doctors-actions-item {
	padding: 0;
}
.tn-benefit-best-doctors-actions-item-link {
  padding: 0;
  display: block;
  font-weight: 600;
}