<div>
	</div>
	<div class="policies-info-box  clearfix">
		<div>
			<h5 class="bold">{{ 'benefitsRes.lifeInsu' | translate }}:</h5>
			<p>
				<div class="bold block">{{ 'benefitsRes.question_lifeInsu' | translate }}</div>
				{{ 'benefitsRes.ans_lifeInsu' | translate }}
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_alter_lifeInsu' | translate }}</div>
				{{ 'benefitsRes.ans_alter_lifeInsu1' | translate }}
				<a  href="{{$ctrl.benefitResPdfLinks.pdfurls[0].url | contentUrl}}" target="_blank"
					id="{{$ctrl.benefitResPdfLinks.pdfurls[0].id}}" class="in-block top-5">{{ 'benefitsRes.ans_alter_lifeInsu2' | translate }}</a>
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_Apply' | translate }}</div>
				{{ 'benefitsRes.ans_Apply' | translate }}
				<a class="block" href="{{$ctrl.benefitResPdfLinks.pdfurls[0].url | contentUrl}}" target="_blank"
				   id="repeat{{$ctrl.benefitResPdfLinks.pdfurls[0].id}}">{{ 'benefitsRes.ans_Apply_link1' | translate }}</a>
				<a class="block" href="{{$ctrl.benefitResPdfLinks.pdfurls[1].url | contentUrl}}" target="_blank"
				   id="{{$ctrl.benefitResPdfLinks.pdfurls[1].id}}">{{ 'benefitsRes.ans_Apply_link2' | translate }}</a>
				<a class="block" href="{{$ctrl.benefitResPdfLinks.pdfurls[2].url | contentUrl}}" target="_blank"
				   id="{{$ctrl.benefitResPdfLinks.pdfurls[2].id}}">{{ 'benefitsRes.ans_Apply_link3' | translate }}</a>
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_costPlaying' | translate }}</div>
				{{ 'benefitsRes.ans_contactMetlife' | translate }}
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_MetlifeBenefits' | translate }}</div>
				{{ 'benefitsRes.ans_No' | translate }}
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_coverage' | translate }}</div>
				{{ 'benefitsRes.ans_disability' | translate }}
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_disCovage' | translate }}</div>
				{{ 'benefitsRes.ans_LtdInsurance' | translate }}
			</p>
			<div class="bullet-points">
				<div class="bold block">{{ 'benefitsRes.ques_LongTermDis' | translate }}</div>
				{{ 'benefitsRes.ans_You' | translate }}
				<ul>
					<li>{{ 'benefitsRes.ans_LtdPolicy' | translate }}</li>
					<li>{{ 'benefitsRes.ans_retirement' | translate }}</li>
					<li>{{ 'benefitsRes.ans_LtdPlan' | translate }}</li>
				</ul>
			</div>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_Apply' | translate }}</div>
				{{ 'benefitsRes.ans_Aetnaforms' | translate }}
				<a  class="block" href="{{$ctrl.benefitResPdfLinks.pdfurls[3].url | contentUrl}}" target="_blank"
				   id="{{$ctrl.benefitResPdfLinks.pdfurls[3].id}}">{{ 'benefitsRes.ans_LtdConversion' | translate }}</a>
				<a  class="block" href="{{$ctrl.benefitResPdfLinks.pdfurls[4].url | contentUrl}}" target="_blank"
				   id="{{$ctrl.benefitResPdfLinks.pdfurls[4].id}}">{{ 'benefitsRes.ans_AppLtdConversion' | translate }}</a>
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_costPlayNow' | translate }}</div>
				{{ 'benefitsRes.ans_aetnaRates' | translate }}
			</p>
			<p>
				<div class="bold block">{{ 'benefitsRes.ques_atena31days' | translate }}</div>
				{{ 'benefitsRes.ans_No' | translate }}
			</p>
		</div>
	</div>
</div>
