.payroll-schedule-card {
	tn-datepicker {
		margin: 10px auto;
	}
}

.payroll-schedule-card-divider {
	width: 90%;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 35px;
}
