<tn-card>
	<tn-card-content>
		<div id="trinetCorp" class="large bold">TRINET HR CORPORATION</div>
		<span class="large bold">TERMS AND CONDITIONS AGREEMENT ("TCA") - MEMBER/PARTNER</span>
		<div id="tacBody">
			<p id="tacInstructions">The TriNet family of companies is engaged in the business of providing human resources services through various licensed professional employer organizations (&#8220;PEOs&#8221;). In this TCA, &#8220;TriNet&#8221; includes any and all of the TriNet companies (i.e., TriNet Group, Inc., all companies owned by TriNet Group, Inc. [e.g., TriNet HR Corporation, Ambrose Employer Group, LLC], subsidiaries of companies owned by TriNet Group, Inc., subsidiaries of those subsidiaries, and all other companies under the TriNet Group, Inc. umbrella), whether doing business in their own name or otherwise.</p>
			<p>Your relationship with TriNet is beginning because the company you work for (&#8220;your company&#8221;)PEO is a TriNet customer.</p>
			<h3>
				ANTI-HARASSMENT AND EQUAL OPPORTUNITY POLICY
			</h3>
			<p>Your company is committed to maintaining a work environment free of unwarranted harassment and discrimination. A copy of the company&#8217;s Anti-harassment and Equal Opportunity policy has been provided to you. You understand that it is your responsibility to read, understand and abide by this policy.</p>
			<h3>
				OWNERSHIP STATUS AND RESPONSIBILTY FOR PAYMENT OF TAXES
			</h3>
			<p>You acknowledge that you are either a member or partner of your company and thus, treated as &#8220;self-employed&#8221; for federal income tax and federal self-employment tax purposes. You are, therefore, responsible for the payment of your estimated tax deposits. You acknowledge and agree that Ambrose Employer Group, LLC (including its parent and parent&#8217;s affiliates) will not provide any tax reporting services to you and will not make any estimated or other tax payments, deposits or withholding (including backup withholding) to any state or federal tax authority on your behalf.</p>

			<h3>ACKNOWLEDGEMENT</h3>
			<p>By clicking below, you acknowledge that you have read and understand the contents of this Terms and Conditions Agreement.</p>
		</div>
	</tn-card-content>
</tn-card>
