<div class="editProfile">
	<div class="tn-edit-profile-section">
		<div class="tn-edit-profile-section-title">{{'profile-emergency-contact' | translate}}</div>
	</div>
	<form class="row" name="emergencyContactForm" no-validate>
		<div class="col-sm-offset-1 col-sm-9" >
			<br><br>
			<div class="tn-edit-profile-emergency-section">
				<div class="row">
					<tn-input-container class="col-sm-5" ng-class="{'is-invalid': emergencyContactForm.contactName.$invalid && emergencyContactForm.contactName.$touched}">
						<tn-input-label>{{'edit-profile-emergency-contact-name' | translate}}</tn-input-label>
						<input ng-model="$ctrl.data.emergencyContact.name.name"
							   type="text"
							   name="contactName"
							   maxlength="54"
							   validate-name
							   required>
						<div class="tn-input-error" ng-messages="emergencyContactForm.contactName.$error" ng-show="emergencyContactForm.contactName.$invalid && emergencyContactForm.contactName.$touched">
							<div ng-message="required" aria-live="polite">Required.</div>
							<div ng-message="name" aria-live="polite">Not a valid name.</div>
						</div>
					</tn-input-container>
					<tn-input-container class="col-sm-offset-2 col-sm-5">
						<tn-input-label>{{'edit-profile-emergency-relationship' | translate}}</tn-input-label>
						<div class="select-style">
							<select ng-options="relation as relation.value for relation in $ctrl.data.dropdown.relationships track by relation.key"
									ng-model="$ctrl.data.selected.relationship"
									ng-change="$ctrl.data.emergencyContact.contactRelationship = $ctrl.data.selected.relationship.key"
									name="relationship"
									required>
								<option value="" disabled selected>Select a Relationship</option>
							</select>
						</div>
					</tn-input-container>
				</div>
				<br/>
				<div class="row">
					<tn-input-container class="col-sm-5" ng-class="{'is-invalid': emergencyContactForm.workPhone.$invalid && emergencyContactForm.workPhone.$touched}">
						<tn-input-label>{{'profile-work-phone' | translate}}</tn-input-label>
						<input ng-model="$ctrl.data.emergencyContact.telephoneNumbers.telephoneNumber1"
							   name="workPhone"
							   type="text"
							   inputmode="numeric"
							   placeholder="(999) 999-9999"
							   mask="(999) 999-9999"
							   restrict="reject"
							   clean="true"
							   validate-phone>
						<div class="tn-input-error" ng-messages="emergencyContactForm.workPhone.$error" ng-show="emergencyContactForm.workPhone.$invalid && emergencyContactForm.workPhone.$touched">
							<div ng-message="phone" aria-live="polite">Numbers only.</div>
							<div ng-message="phoneLength" aria-live="polite">Must be 10 digits.</div>
						</div>
					</tn-input-container>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-5">
						<tn-checkbox-container>
							<input ng-model="$ctrl.data.emergencyContact.isSameAsEmployeeAddress"
								   type="checkbox"
								   ng-click="$ctrl.getEmpAddress($ctrl.data.emergencyContact.isSameAsEmployeeAddress)"
								   name="employeeAddress"
								   >
							<tn-checkbox-label>{{'edit-profile-emergency-same-as-address' | translate}}</tn-checkbox-label>
						</tn-checkbox-container>
					</div>
					<div class="col-sm-offset-2 col-sm-5">
						<tn-checkbox-container>
							<input ng-model="$ctrl.data.emergencyContact.isPrimaryContact"
								   type="checkbox"
								   name="employeeAddress"
									>
							<tn-checkbox-label>{{'edit-profile-emergency-primary-contact' | translate}}</tn-checkbox-label>
						</tn-checkbox-container>
					</div>
				</div>
				<br/>
				<fieldset ng-disabled="$ctrl.data.emergencyContact.isSameAsEmployeeAddress">
					<div class="row">
						<tn-input-container class="col-sm-5" ng-class="{'is-invalid': emergencyContactForm.address1.$invalid && emergencyContactForm.address1.$touched}">
							<tn-input-label>{{'edit-profile-address1' | translate}}</tn-input-label>
							<input ng-model="$ctrl.data.emergencyContact.address.address1"
								   type="text"
								   name="address1"
								   maxlength="54"
								   validate-address
								   required>
							<div class="tn-input-error" ng-messages="emergencyContactForm.address1.$error" ng-show="emergencyContactForm.address1.$invalid && emergencyContactForm.address1.$touched">
								<div ng-message="required" aria-live="polite">Required.</div>
								<div ng-message="address" aria-live="polite">Not a valid address.</div>
							</div>
						</tn-input-container>
						<tn-input-container class="col-sm-offset-2 col-sm-5" ng-class="{'is-invalid': emergencyContactForm.address2.$invalid && emergencyContactForm.address2.$touched}">
							<tn-input-label>{{'edit-profile-address2' | translate}}</tn-input-label>
							<input ng-model="$ctrl.data.emergencyContact.address.address2"
								   type="text"
								   name="address2"
								   maxlength="54"
								   validate-address>
							<div class="tn-input-error" ng-messages="emergencyContactForm.address2.$error" ng-show="emergencyContactForm.address2.$invalid && emergencyContactForm.address2.$touched">
								<div ng-message="required" aria-live="polite">Required.</div>
								<div ng-message="address" aria-live="polite">Not a valid address.</div>
							</div>
						</tn-input-container>
					</div>
					<br/>
					<div class="row">
						<tn-input-container class="col-sm-5" ng-class="{'is-invalid': emergencyContactForm.city.$invalid && emergencyContactForm.city.$touched}">
							<tn-input-label>{{'edit-profile-city' | translate}}</tn-input-label>
							<input ng-model="$ctrl.data.emergencyContact.address.city"
								   type="text"
								   name="city"
								   maxlength="49"
								   validate-city
								   required>
							<div class="tn-input-error" ng-messages="emergencyContactForm.city.$error" ng-show="emergencyContactForm.city.$invalid && emergencyContactForm.city.$touched">
								<div ng-message="required" aria-live="polite">Required.</div>
								<div ng-message="city" aria-live="polite">Letters only</div>
							</div>
						</tn-input-container>
						<tn-input-container class="col-sm-offset-2 col-sm-5">
							<tn-input-label>{{'edit-profile-state' | translate}}</tn-input-label>
							<div class="select-style">
								<select ng-options="state as state.value for state in $ctrl.data.dropdown.usStates track by state.key"
										ng-model="$ctrl.data.selected.state"
										ng-change="$ctrl.data.emergencyContact.address.state = $ctrl.data.selected.state.key"
										name="state"
										required>
									<option value="" disabled selected>Select a State</option>
								</select>
							</div>
						</tn-input-container>
					</div>
					<br/>
					<div class="row">
						<tn-input-container class="col-sm-5" ng-class="{'is-invalid': emergencyContactForm.zip.$invalid && emergencyContactForm.zip.$touched}">
							<tn-input-label>{{'edit-profile-zip' | translate}}</tn-input-label>
							<input ng-model="$ctrl.data.emergencyContact.address.postalCode"
								   type="text"
								   name="zip"
								   inputmode="numeric"
								   pattern="[0-9]*"
								   maxlength="5"
								   validate-zip
								   required>
							<div class="tn-input-error" ng-messages="emergencyContactForm.zip.$error" ng-show="emergencyContactForm.zip.$invalid && emergencyContactForm.zip.$touched">
								<div ng-message="required" aria-live="polite">Required.</div>
								<div ng-message="zip" aria-live="polite">Numbers only.</div>
								<div ng-message="zipLength" aria-live="polite">Must be 5 digits.</div>
							</div>
						</tn-input-container>
						<tn-input-container class="col-sm-offset-2 col-sm-5">
							<tn-input-label>{{'edit-profile-country' | translate}}</tn-input-label>
							<div class="select-style">
								<select ng-options="country as country.value for country in $ctrl.data.dropdown.countries track by country.key"
										ng-change="onCountryChange()"
										ng-model="$ctrl.data.selected.country"
										name="country"
										required>
									<option value="" selected disabled>Select a Country</option>
								</select>
							</div>
						</tn-input-container>
					</div>
				</fieldset>
			</div>
			<div class="button-group">
				<button tn-button ui-sref="app.main.profile" >{{'edit-profile-cancel' | translate}}</button>
				<button tn-action-button ng-click="$ctrl.createEmergecny(emergencyContactForm)">{{'edit-profile-save-changes' | translate}}</button>
			</div>
		</div>
	</form>
</div>
