.contact-row {
	position: relative;
	margin-top: 20px;
}

.contact-add-link {
	color: #2373BA;
}

.contact-delete-icon {
	position: absolute;
	top: 25px;
	font-size: 20px;
	color: red;
	margin-left: 10px;
}

.edit-profile-section{
  input,
  select {
	width: 100%;
	max-width:250px;
  }
}
