<tn-input-container ng-class="{'is-invalid': $ctrl.input.$invalid && ($ctrl.input.$touched || $ctrl.formName.$submitted), 'is-disabled' : $ctrl.isDisabled }">
	<tn-input-label>
		<label for="{{$ctrl.componentId}}">{{$ctrl.label}}</label></tn-input-label>
	<input ng-model="$ctrl.fieldValue"
		   ng-change="$ctrl.update($ctrl.fieldValue)"
		   type="text"
		   id="{{$ctrl.componentId}}"
		   name="{{$ctrl.fieldName}}"
		   maxlength="7"
		   minlength="6"
		   ng-required="$ctrl.isRequired"
		   ng-disabled="$ctrl.isDisabled"
		   aria-label="{{$ctrl.label}}"
		   validate-postal>
	<div class="tn-input-error"
		 ng-messages="$ctrl.input.$error"
		 ng-show="$ctrl.input.$invalid && ($ctrl.input.$touched || $ctrl.formName.$submitted)">
		<div ng-message="required" aria-live="polite">Required.</div>
		<div ng-message="postal" aria-live="polite">Not a valid Postal Code.</div>
	</div>
</tn-input-container>
