@import 'main';

.tn-bi-alerts{
  .announcements-card{
	  justify-content: flex-start;
	  margin-bottom: 10px;
	> span{
	  margin: 10px 15px 10px 0px;
	}
	.legend-item-icon {
	  height: 20px;
	  width: 20px;
	  border-radius: 3px;
	  &.green-box {
		background: #108740;
	  }
	  &.red-box {
		background: $red-darker;
	  }
	  &.blue-box {
		background: $azure-blue;
	  }
	  &.yellow-box {
		background:#cc9320;
	  }
	}
	&:first-child{
	  margin-top: 20px;
	}
  }
  .notifications-footer{
	margin-top: 20px;
  }
}
