.tn-search-button {
	padding: 0 !important;
	width:  125px;
	height: 40px !important;
	display: inline-block;
	justify-content: center;
}

.tn-search-button-search-icon {
	display: inline;
	margin: 2px 10px 0 0;
}
