@import 'main';

$alert-red :#9E3039;
$alert-green :#428B09;
.security-password-modal{
.tn-password-check-rules{
	h6{
		color:$font-color-secondary;
	}
	ul{
		list-style:none;
		li{
			color:$font-color-secondary;
			span{
				font-size: 12px;
				&:first-child{
					margin-right:10px;
					.icon-icon_Error{
					   color: $alert-red;
					}
					.icon-icon_approved{
						color: $alert-green;
					}
				}
			}
		}
	}
}
.security-modal-footer{
	clear:both;
	margin:20px 0;
}
}
