<form class="row" name="editPasswordForm" novalidate id="custIDPwd">
<div class="security-modal security-password-modal">
	<div class="security-modal-header col-sm-12">
		<i id="changePwdClose" class="icon-close-temp hand" ng-click="$ctrl.onCancel();"></i>
	</div>
	<div class="security-modal-content col-sm-12">
		<div class="col-sm-5">


	<tn-input-container class="padding-vertical"
						ng-class="{'is-invalid': editPasswordForm.currentPassword.$invalid && editPasswordForm.currentPassword.$touched || editPasswordForm.$submitted}">
		<!--<tn-input-label class="semibold">{{'custom-id-modal-input-label' | translate}}</tn-input-label>-->

		<div class="semibold">{{'password-modal-old-password-label' | translate}}</div>
		<input id="currentPwdText" class="margin-top"
			   type="password"
			   name="currentPassword"
			   aria-label="enter your current password"
			   ng-model="$ctrl.data.payload.currentPassword"
			   required>
		<div class="tn-input-error" ng-messages="editPasswordForm.currentPassword.$error"
			 ng-show="editPasswordForm.currentPassword.$invalid && editPasswordForm.currentPassword.$touched || editPasswordForm.$submitted">
			<div ng-message="required" aria-live="polite">{{'required' | translate}}</div>
		</div>
	</tn-input-container>

	<tn-input-container class="padding-vertical" ng-class="{'is-invalid': editPasswordForm.newPassword.$invalid && editPasswordForm.newPassword.$touched || editPasswordForm.$submitted}">
		<div class="semibold">{{'password-modal-new-password-label' | translate}}</div>
		<input class="margin-top" ng-model="$ctrl.data.payload.newPassword"
			   type="password"
			   id="newPasswordText"
			   name="newPassword"
			   maxlength="128"
			   minlength="8"
			   aria-label="enter a new password"
			   required
				validate-password
				validate-new="$ctrl.data.payload.currentPassword">
		<div class="tn-input-error"
			 ng-messages="editPasswordForm.newPassword.$error"
			 ng-show="editPasswordForm.newPassword.$invalid && (editPasswordForm.newPassword.$touched || editPasswordForm.$submitted)">
			<div ng-message="required" aria-live="polite">{{'required' | translate}}</div>
			<div ng-message="minLength" aria-live="polite">{{'password-modal-at-least-label' | translate}}</div>
			<div ng-message="confirmPassword" aria-live="polite">{{'new-validation-password'| translate}} </div>
		</div>
	</tn-input-container>

	<tn-input-container class="padding-vertical" ng-class="{'is-invalid': editPasswordForm.confirmPassword.$invalid && editPasswordForm.confirmPassword.$touched || editPasswordForm.$submitted}">
		<div class="semibold">{{'password-modal-confirm-password-label' | translate}}</div>
		<input id="confirmPwdText" class="margin-top" ng-model="$ctrl.data.payload.confirmPassword"
				type="password"
				name="confirmPassword"
				aria-label="confirm new password"
				required
				validate-check="$ctrl.data.payload.newPassword">
		<div class="tn-input-error"
			 ng-messages="editPasswordForm.confirmPassword.$error"
			 ng-show="editPasswordForm.confirmPassword.$invalid && (editPasswordForm.confirmPassword.$touched || editPasswordForm.confirmPassword.$submitted || editPasswordForm.$submitted)">
			<div ng-message="required" aria-live="polite">{{'required' | translate}}</div>
			<div ng-message="confirmPassword" aria-live="polite">{{'confirm-validation-password'| translate}}</div>

		</div>
	</tn-input-container>
		</div>
		<div class="col-sm-7 tn-password-check-rules">
			<h6>{{'password-modal-your-password-must-label' | translate}}</h6>
			<ul>
				<li>
					<span>
						<i ng-if="editPasswordForm.newPassword.$error.minLength" class="icon-icon_Error"></i>
						<i ng-if="!editPasswordForm.newPassword.$error.minLength"class="icon-icon_approved"></i>
					</span>
					<span>{{'password-modal-at-least-8-label' | translate}}</span>
				</li>

				<li>
					<span>
						<i ng-if="editPasswordForm.newPassword.$error.hasUpperCase" class="icon-icon_Error"></i>
						<i ng-if="!editPasswordForm.newPassword.$error.hasUpperCase" class="icon-icon_approved"></i>
					</span>
					<span>{{'password-modal-at-least-1-upper-label' | translate}}</span>
				</li>
				<li>
					<span>
						<i ng-if="editPasswordForm.newPassword.$error.hasLowerCase" class="icon-icon_Error"></i>
						<i ng-if="!editPasswordForm.newPassword.$error.hasLowerCase"class="icon-icon_approved"></i>
					</span>
					<span>{{'password-modal-1-lower-case-label' | translate}}</span>
				</li>
				<li>
					<span>
						<i ng-if="editPasswordForm.newPassword.$error.hasNumber" class="icon-icon_Error"></i>
						<i ng-if="!editPasswordForm.newPassword.$error.hasNumber"class="icon-icon_approved"></i>
					</span>
					<span>{{'password-modal-1-number-label' | translate}}</span>
				</li>
				<li>
					<span>
						<i ng-if="editPasswordForm.newPassword.$error.hasSpecialCharacter" class="icon-icon_Error"></i>
						<i ng-if="!editPasswordForm.newPassword.$error.hasSpecialCharacter"class="icon-icon_approved"></i>
					</span>
					<span>{{'password-modal-symbols-label' | translate}}</span>
				</li>
			</ul>			</div>
		</div>
	<div class="security-modal-footer col-sm-12">
		<button id="changePwdCancelBtn" tn-button ng-click="$ctrl.onCancel()">{{'security-modal-cancel-label' | translate}}</button>
		<button id="changePwdSaveBtn" type="submit" class="margin-left" tn-action-button ng-click="$ctrl.onSave(editPasswordForm)">{{'security-modal-save-label' | translate}}</button>
	</div>
</div>
</form>
<tn-spinner  ng-show="$ctrl.showFullSpinner"></tn-spinner>
