<form name="taxesForm" class="w4-modal" ng-submit="$ctrl.save(taxesForm)" no-validate>
	<div class="w4-modal-header">
		<i id="taxConfirmClose" class="icon-close-temp" ng-click="$ctrl.cancel()"></i>
	</div>

	<div class="w4-modal-title">{{'w4-legal-modal-title' | translate}}</div>

	<div class="w4-modal-body">
		<table>
			<tr>
				<td>
					<tn-bind-html content="$ctrl.confirmationMessage"></tn-bind-html>
				</td>

			</tr>
			<tr id="SPTestDiv" ng-if="!$ctrl.hideSP">
				<td>
					<p class="text-center"><b>{{'money.tax_With_Holding.substantial' | translate}}</b>
					</p>
					<a class="gridder-navigation" ng-click="$ctrl.hideSPTest()" role="button"> <span class="icon-close-temp"></span></a>

					<p>{{'money.tax_With_Holding.nonResident' | translate}}</p>
					<p>{{'money.tax_With_Holding.residentTaxPurposes' | translate}}</p>
					<center>
						<table width="100%" class="table-bordered">
							<tbody>
							<tr>
								<td></td>
								<td># {{'money.tax_With_Holding.ofDays' | translate}}</td>
								<td>{{'money.tax_With_Holding.dividedBy' | translate}}</td>
								<td> {{'money.tax_With_Holding.total' | translate}}</td>
							</tr>
							<tr>
								<td>{{'money.tax_With_Holding.currentYear' | translate}}</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>{{'money.tax_With_Holding.preceding' | translate}}</td>
								<td></td>
								<td align="center">3</td>
								<td></td>
							</tr>
							<tr>
								<td>{{'money.tax_With_Holding.preceding2' | translate}}</td>
								<td></td>
								<td align="center">6</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td align="right" >{{'money.tax_With_Holding.total' | translate}} =</td>
								<td></td>
							</tr>
							</tbody>
						</table>
					</center>
					<p>{{'money.tax_With_Holding.taxPurposes' | translate}}</p>
					<p><tn-bind-html content="'money.tax_With_Holding.irsPublication' | translate"></tn-bind-html></p>
				</td>
			</tr>
		</table>
	</div>

	<div class="w4-legal-modal-footer">
		<button id="taxConfirmCancelBtn" tn-button
				ng-click="$ctrl.cancel()"
				type="button">
			{{'edit-profile-cancel' | translate}}
		</button>
		<button id="taxConfirmAgreeBtn" tn-action-button
				class="margin-left"
				type="submit">
			{{'w4-modal-i-agree' | translate}}
		</button>
	</div>
</form>

