<div class="background">
	<div class="primary-container">
		<h2 class="page-title">{{'money-title' | translate}} <i class="icon-icon_forward icon-heading"></i> {{'overview-title' | translate}}</h2>
		<last-paycheck-card id="lastPayCheckCard"></last-paycheck-card>
		<pay-history-card id="payHistoryCard"></pay-history-card>
        <!--<total-compensation></total-compensation>-->
	</div>
	<div class="secondary-container">
		<payroll-schedule-card id="nextPayCheckCard"></payroll-schedule-card>
	</div>
</div>
