.paycheck-history-table h5 { display: none; }

.paycheck-history-table .tn-table {
	margin: 10px;
	box-shadow: none;
}

.paycheck-history-table-view-details-link:hover {
	text-decoration: none;
	cursor: pointer;
}
