<div class="retirement-card">
	<div class="row retirement-card-header">
		<div class="col-sm-4">
			<p>{{'retirement-card-title' | translate}}</p>
		</div>
		<div class="col-sm-offset-6 col-sm-2">
			<img src="assets/images/Transamerica_logo.png" alt="Transamerica">
		</div>
	</div>
	<div class="row retirement-card-content">
		<div class="col-sm-3 retirement-card-content-currentElection">
			<p>{{'retirement-card-current-election' | translate}}</p>
			<p>10<span>%</span></p>
			<p>{{'retirement-card-pretax' | translate}}</p>
		</div>
		<div class="col-sm-5 retirement-card-content-ytdContributions">
			<p>{{'retirement-card-ytd-contributions' | translate}}</p>
			<svg class="rectangle"></svg>
		</div>
		<div class="col-sm-4 retirement-card-content-rateOfReturn">
			<p>{{'retirement-card-rate-of-return-ytd' | translate}}</p>
			<svg class="circle" ></svg>
		</div>
	</div>
</div>





